* {
  font-family: 'Roboto';
}

.company-logo-title-container {
  display: flex;
  flex-direction: row;
}

.company-logo-img {
  width: 45px;
  height: 44px;
  margin-right: 14px;
}

.title-rating-container {
  display: flex;
  flex-direction: column;
}

.title-heading {
  color: #f8fafc;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}

.star-rating-container {
  display: flex;
  flex-direction: row;
}

.icon-img {
  color: #fbbf24;
  width: 24px;
  height: 22px;
}

.rating {
  color: #f8fafc;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 8px;
}

.location-icon {
  color: #f1f5f9;
  margin-right: 10px;
}

.location-container {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
}

.location-title {
  color: #f1f5f9;
}

.employment-container-job {
  display: flex;
  flex-direction: row;
}

.employment-title {
  color: #f1f5f9;
}

.location-employment-package-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}

.location-employment-container {
  display: flex;
  flex-direction: row;
}

.description-heading {
  color: #f1f5f9;
  font-size: 19px;
  font-family: 'Roboto';
  margin-top: 20px;
}

.description {
  font-size: 16px;
  font-weight: 400;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 152px;
  list-style-type: none;
  margin-bottom: 30px;
}

.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skill-img {
  width: 45px;
  height: 45px;
  margin-right: 24px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: #f8fafc;
}

.life-at-company-heading {
  color: #f8fafc;
  font-size: 26px;
  font-weight: 500;
}

.life-at-company-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.life-at-company-description {
  font-size: 18px;
  font-family: 'Roboto';
  color: #ffffff;
  padding-top: 26px;
}

.item-container {
  background-color: #202020;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 16px;
  padding-right: 14px;
  padding-bottom: 15px;
  margin-left: 45px;
}

.description-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.visit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.anchor-element {
  text-decoration: none;
}

.visit-heading {
  color: #4f46e5;
  font-size: 18px;
  font-weight: 500;
  margin-right: 6px;
}
