.job-item-container-details {
  display: flex;
  flex-direction: column;
}

.banner-container {
  background-color: #000000;
  background-size: cover;
  min-height: 90vh;
  padding-top: 26px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
}

.heading {
  color: #ffffff;
}

.similar-job-container {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  margin-top: 26px;
}

.similar-job-heading {
  color: #f8fafc;
  font-size: 20px;
  font-family: 'Roboto';
}

.job-item-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-heading-job-item {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}

.failure-description-job-item {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
}

.button-btn {
  line-height: 1;
  background-color: #6366f1;
  border: none;
  border-width: 0px;
  border-radius: 4px;
  height: 30px;
}

.similar-job-list-container {
  background-color: #202020;
  width: 30%;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.similar-job-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.similar-jobs-logo {
  width: 32px;
  height: 32px;
}

.similar-job-logo-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.similar-job-heading {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
}

.similar-job-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.similar-jobs-star-icon {
  color: #fbbf24;
  margin-right: 6px;
}
.similar-job-rating {
  color: #ffffff;
  font-size: 16px;
}

.similar-job-description {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.similar-job-description-heading {
  color: #f1f5f9;
  font-size: 15px;
  font-weight: 400;
  margin-top: 8px;
}

.similar-job-location-container {
  display: flex;
  align-items: center;
}

.similar-job-location-employment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 80px;
  margin-top: 22px;
}

.similar-job-location-icon {
  color: #f1f5f9;
  margin-right: 6px;
}
